{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Library Management System {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">

                <h2> <b>Library </b>  <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New Library</button> </h2>


                 <table class="table table-hover table-dark">

                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>

                     {% for row in library %}

                     <tr>
                         <td>{{row.id}}</td>
                         <td>{{row.name}}</td>
                         <td>
                             <a href="/update/{{row.id}}" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                             <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure to Delete?')">Delete</a>
                         </td>
                     </tr>

 <!-- Modal Edit Library-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">


         <div class="modal-header">
            <h4 class="modal-title">Update Information</h4>
         </div>


         <div class="modal-body">
            <form action="{{url_for('update')}}" method="POST">
               <div class="form-group">
                   <label>Name:</label>
                   <input type="hidden"  name="id" value="{{row.id}}">
                   <input type="text" class="form-control" name="name" value="{{row.name}}">
               </div>

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
               </div>
            </form>
         </div>


         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>

       </div>
    </div>
</div>

                     {% endfor %}
<!-- End Edit -->

                 </table>
            </div>

<!-- Modal Add Library-->
<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add Library</h4>
         </div>

         <div class="modal-body">
            <form action="{{url_for('insert')}}" method="POST">

               <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
               </div>

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Add Libray</button>
               </div>

            </form>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>

      </div>
   </div>
</div>
</div>
</div>
</div>

{% include 'item.html' %}
{% include 'subscriber.html' %}
{% include 'borrow.html' %}

{% endblock %}